/gradlew
/gradlew.bat
/gradle.properties
/data.properties
/logs.txt
/savedmodels/
/.gradle/
/.idea/
build/
/gradle/
/api/out/
/examples/out/
/cache/
/examples/cache/
/api/cache/
/pretrainedModels/
/examples/savedmodels/
/examples/notebooks/.ipynb_checkpoints/
