/data.properties
/local.properties
/logs.txt
/savedmodels/
/.gradle/
/.idea/
build/
/api/out/
/examples/out/
/cache/
/examples/cache/
/api/cache/
/pretrainedModels/
/examples/savedmodels/
/tensorflow/cache/